#top{
    background-image: url("https://images1.wionews.com/images/wion/900x1600/2024/8/8/1723119825408_ViratKohliWC.png");
    width:100%;
    height:35%;
}
#h{
    text-align: center;
    font-style: italic;
    text-decoration: underline;
    color: white;
    font-size: 50px;;
}
#p1{
    color: white;
    font-size: 30px;
    text-align: left;
    text-shadow: 2px  2px 4px white;
}
#p2{
    color: white;
    text-shadow: 2px  2px 4px white;
    text-align: center;
    font-size: 30px;

}
#p3{
    text-shadow: 2px  2px 4px white;
    color: white;
    font-size: 30px;
    text-align: right;
}
#mm{
    background-color: orange;
    font-size: 40px;
    color: white;
}
#bottom{
    background-image: linear-gradient(to right , lightblue, lightgreen);
    width: 100%;
}
.a{
    width: 30%;
    height: 25%;
    /* margin-top: 20px; */
    outline: 2px solid blue;
    background-color: white;
}
#im{
    object-fit: contain;
    width:70%
}
img{
    object-fit: contain;
    width: 100%;
    /* height: 250px; */
}


.plan{
    text-align: center;
    font-size: 25px;
    color: rgb(62, 136, 167);
    font-weight: bold;
}